torch
torchvision
networkx
transformers==4.30 
sentencepiece
pdf2image
fastapi==0.112.4
fastapi[uvicorn]
uvicorn
PyPDF2
matplotlib
timm
scipy
shapely 
pyclipper
scikit-image
python-multipart 
onnxruntime 
requests
gradio==4.29.0
Pillow==8.4.0 
blobfile 
mypy 
numpy<2.0.0
pytest 
einops 
tensorboard 
Shapely==1.8.4 
opencv-python
opencv-python-headless==4.8.1.78
openai
